.card {
    display: flex;
    width:1000px;
    height: 254px;
    border-radius: 8px;
    background: linear-gradient(145deg, #0D9276, #FAC670);
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0.4em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }
  @media (max-width: 640px) {
    .card {
      width: 100%;  /* Reduce card width */
      height: 150px; /* Reduce card height */
    }
}
  .card b {
    flex: 1;
    overflow: hidden;
    cursor: pointer;
    border-radius: 8px;
    transition: flex 0.5s;
    background: linear-gradient(145deg, #FAC670, #0D9276);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card b:hover {
    flex: 4;
  }
  
  .card b span {
    padding: 0.2em;
    text-align: center;
    transform: rotate(-0deg);
    transition: transform 0.5s;
    text-transform: uppercase;
    color: white;
    font-weight: "bold";
    letter-spacing: 0.1em;
    position: relative;
    z-index: 1;
  }
  
  .card b:hover span {
    transform: rotate(0);
  }
  
  .card b::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.1);
    z-index: 0;
    transition: opacity 0.5s;
    pointer-events: none;
    opacity: 0;
  }
  
  .card b:hover::before {
    opacity: 1;
  }
  